@import "base.css";
@import "banners.css";
@import "menu.css";
@import "header.css";
@import "footer.css";

.main__container {
  margin: 0 5%;
}

.wrapper {
  width: 90%;
}

.container__block--title {
  user-select: none;
  position: relative;
  z-index: 1;
  display: flex;
  background: var(--wt);
  width: fit-content;
  padding: 10px;
  margin: 0 auto;

  h3 {
    font-size: 1.3rem;
    font-family: var(--title);
    text-decoration: underline;
    text-align: center;
  }
}

.container__block--title:hover::after {
  top: 100%;
  left: 100%;
  transition: 0.1s ease-out;
}

.container__block--title::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-right: 1px solid var(--wt);
  border-bottom: 1px solid var(--wt);
}

.container__block--title:hover::before {
  top: -10px;
  left: -10px;
  transition: 0.1s ease-out;
}

.container__block--title::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-left: 1px solid var(--wt);
  border-top: 1px solid var(--wt);
}

.container__block {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}

.container__block__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

.container__block--slider {
  position: relative;
  flex-direction: row;
  display: flex;
  /* max-width: 40%;
  height: 100%; */
  flex: 0 0 auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.container__block--slides {
  height: 100%;
  width: 100%;
  display: flex;
}

.container__block--slide {
  display: flex;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.slide-transition {
  transition: transform 0.5s ease-in-out;
}

.slider-back,
.slider-next {
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-back {
  left: 0;
}

.slider-next {
  right: 0;
}

.slider-back,
.slider-next {
  cursor: pointer;
  border: none;
  padding: 4px;
  height: 100%;
  background: var(--bk);
  opacity: 1;
  color: var(--yel);
  font-size: 30px;
  font-family: var(--text);
  transition: 0.2s;

  &:active {
    opacity: 0.5;
  }
}

.container__block--subtitle {
  width: 100%;
  align-items: center;
  background: var(--bk);
  color: var(--yel);
  font-family: var(--text);
  font-size: 1.4rem;
  font-weight: 400;
  flex: 1 1 auto;
}

.container__block--desc {
  display: flex;
  width: 100%;
  height: 100%;
}

.container__block--desc p {
  display: flex;
  background: var(--red);
  border-top: 5px solid var(--wt);
  padding: 10px 20px;

  color: var(--wt);
  font-family: var(--text);
  font-size: 1.2rem;
  text-align: justify;
}

.container__cite {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.container__cite--text,
.container__cite--author,
.container__cite--author--desc {
  position: absolute;
  z-index: 2;
  color: var(--wt);
}

.container__cite--text {
  top: 45%;
  left: 10%;
  width: 24rem;
  font-family: var(--text);
  font-size: 1rem;
  text-shadow: 1px 2px 5px var(--bk);
}

.container__cite--author {
  left: 10%;
  bottom: 10%;
  text-decoration: underline;
  font-family: var(--title);
  font-size: 1rem;
}

.container__cite--author:hover ~ .container__cite--author--desc {
  bottom: 1%;
}

.container__cite--author--desc {
  bottom: -15%;
  transition: 0.1s ease-in;
  font-family: var(--text);
  font-size: 0.6rem;
}

.container__cite--img {
  display: flex;
  z-index: 0;
  height: 100%;
  align-items: center;
  position: relative;
  img {
    user-select: none;
    pointer-events: none;
    width: 100%;
  }
}

.container__cite--img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.3);
}

/* Телефон */
@media (min-width: 140px) {
  .container__block {
    flex-direction: column;
    gap: 20px;
  }

  .container__block:nth-child(2n) {
    flex-direction: column;
  }

  .container__block--slider {
    max-width: 100%;
    height: 100px;
  }
}

@media (min-width: 340px) {
  .container__block--slider {
    max-width: 100%;
    height: 200px;
  }
}

/* ПК */
@media (min-width: 1060px) {
  .container__block {
    justify-content: space-between;
    flex-direction: row;
    height: 260px;
    gap: 50px;
  }

  .container__block:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .container__block--slider {
    max-width: 40%;
    height: 100%;
  }
}
