@import "base.css";
@import "menu.css";
@import "header.css";
@import "footer.css";

.wrapper {
  width: 80%;
}

.neon--left,
.neon--right {
  float: left;
  width: 10%;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.pulse {
  user-select: none;
  pointer-events: none;
  display: flex;
  width: 25%;
  font-size: 1.8rem;
  text-align: center;
  font-family: var(--title);
  font-weight: 1000;
}
.neon--left .pulse:nth-child(1n) {
  margin-top: 100px;
  -webkit-text-stroke: 2px var(--red);
  filter: drop-shadow(0px 0px 0px var(--red));
  animation: pulseRed;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.neon--left .pulse:nth-child(2n) {
  margin-top: 100px;
  -webkit-text-stroke: 2px var(--yel);
  filter: drop-shadow(0px 0px 0px var(--yel));
  animation: pulseYellow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.neon--left .pulse:nth-child(3n) {
  margin-top: 100px;
  -webkit-text-stroke: 2px var(--wt);
  filter: drop-shadow(0px 0px 0px var(--wt));
  animation: pulseWhite;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.neon--right .pulse:nth-child(1n) {
  -webkit-text-stroke: 2px var(--yel);
  filter: drop-shadow(0px 0px 0px var(--yel));
  animation: pulseYellow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.neon--right .pulse:nth-child(2n) {
  margin-top: 100px;
  -webkit-text-stroke: 2px var(--wt);
  filter: drop-shadow(0px 0px 0px var(--wt));
  animation: pulseWhite;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.neon--right .pulse:nth-child(3n) {
  margin-top: 100px;
  -webkit-text-stroke: 2px var(--red);
  filter: drop-shadow(0px 0px 0px var(--red));
  animation: pulseRed;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes pulseRed {
  0% {
    filter: drop-shadow(0px 0px 0px var(--red));
  }

  25% {
    filter: drop-shadow(0px 0px 10px var(--red));
  }

  50% {
    filter: drop-shadow(0px 0px 25px var(--red));
  }

  75% {
    filter: drop-shadow(0px 0px 10px var(--red));
  }

  100% {
    filter: drop-shadow(0px 0px 0px var(--red));
  }
}

@keyframes pulseYellow {
  0% {
    filter: drop-shadow(0px 0px 0px var(--yel));
  }

  25% {
    filter: drop-shadow(0px 0px 10px var(--yel));
  }

  50% {
    filter: drop-shadow(0px 0px 25px var(--yel));
  }

  75% {
    filter: drop-shadow(0px 0px 10px var(--yel));
  }

  100% {
    filter: drop-shadow(0px 0px 0px var(--yel));
  }
}

@keyframes pulseWhite {
  0% {
    filter: drop-shadow(0px 0px 0px var(--wt));
  }

  25% {
    filter: drop-shadow(0px 0px 10px var(--wt));
  }

  50% {
    filter: drop-shadow(0px 0px 25px var(--wt));
  }

  75% {
    filter: drop-shadow(0px 0px 10px var(--wt));
  }

  100% {
    filter: drop-shadow(0px 0px 0px var(--wt));
  }
}

.container__intro {
  position: relative;

  display: flex;
  margin-top: 50px;

  width: 100%;
  height: 200px;
}

.intro--img {
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 20px var(--bk);
  }
}
.intro--img::after,
.intro--img::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}

.intro--img::before {
  top: 30px;
  left: 30px;
  border-top: 5px solid var(--wt);
  border-left: 5px solid var(--wt);
}

.intro--img::after {
  bottom: 30px;
  right: 30px;
  border-bottom: 5px solid var(--wt);
  border-right: 5px solid var(--wt);
}

.intro--title {
  z-index: 3;
  position: absolute;
  left: 30%;
  top: -10px;

  transform: rotateZ(5deg);

  background: var(--yel);
  padding: 0 18px;

  width: 70%;
  mix-blend-mode: screen;
  font-family: var(--title);
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}
.intro--text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
  max-height: 80%;
  font-size: 1.2rem;
  color: var(--wt);
  font-family: var(--text);
  text-align: justify;
  text-shadow: 1px 2px 5px var(--bk);
}

.container__title {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.container__title h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-family: var(--title);
  color: var(--wt);
  filter: drop-shadow(1px 2px 0px var(--prpl1))
    drop-shadow(-1px -2px 0px var(--red));
}

.container__title div {
  display: flex;
  width: 100%;
}

.container__title img {
  width: 100%;
  display: flex;
  object-fit: cover;
}

.container__block {
  color: var(--wt);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block--text {
  width: 100%;
  padding: 10px 14%;
  background: var(--bk);
  font-size: 1rem;
  font-family: var(--text);
  font-weight: 400;
  text-decoration: underline;
}

.block--details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block--details summary {
  width: 100%;
  background: var(--wt);
  color: var(--red);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  height: fit-content;
}

.block--details summary:hover {
  transform: translatey(5px);
}

.block--details summary::marker {
  content: "развернуть";
}

.block--details[open] summary::marker {
  content: "свернуть";
}

.block--details[open] summary:hover {
  transform: translatey(-5px);
}

.block--details section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 5%;
  background-size: cover;
  background-position: center;
}

#transhumanism {
  background-image: url("../src/m232axresdefault.jpg");
}

#determinism {
  background-image: url("../src/2560x1440-px-adventure-ART-artwork-fantasy-fi-fiction-futuristic-original-sci-science-1805815.jpg");
}

#posthumanity {
  background-image: url("../src/previewfile_1723793591.png");
}

.details--block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.details--block h4 {
  letter-spacing: 2px;
  color: var(--red);
  font-weight: 800;
  font-family: var(--text);
  text-shadow: 1px 1px 1px var(--bk);
  font-size: 1.2rem;
}

.details--block a {
  color: var(--wt);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--text);
  &:hover {
    transition: 0.2s;
    transform: translateX(5px);
  }
}

.details--block p {
  padding: 5px;
  background: #0005;
  text-shadow: 1px 2px 3px var(--bk);
  color: var(--yel);
  font-family: var(--text);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: justify;
}

/* ----------------------  */
.determinism--grid {
  display: grid;
  grid-template-columns: 10fr 0fr;
  grid-template-rows: 0fr 1fr;
  max-width: 200px;
  height: 200px;
  transition: grid-template-columns 1s ease-in-out;
  color: white;
}

.determinism--grid.expanded {
  grid-template-columns: 0fr 10fr;
}

.determinism--grid span {
  z-index: 1;
  position: relative;
  min-width: 20px;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 2s ease-out;
  font-size: 1rem;
}

.determinism--grid span button {
  cursor: pointer;
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-out;
  border: none;
  background: var(--yel);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  opacity: 1;
}

.determinism--grid span button[disabled] {
  appearance: none;
  transition: 0.2s ease;
  background: none;
  border: none;
}

.determinism--grid p {
  overflow: hidden;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  background: #0005;
  padding: 5px;
  transition: 0.5s ease-in-out;
}

.closed {
  color: transparent;
  user-select: none;
}

/* ----------------------  */

.posthumanity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 500px;
  gap: 20px;
}

.posthumanity--block:nth-child(2) {
  justify-content: end;
  text-align: end;
}
.posthumanity--block {
  display: flex;
  width: 100%;
  max-height: 160px;
}

.posthumanity--block p {
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  font-family: var(--text);
  color: var(--wt);
  background: var(--red);
}

.container__outro {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px;
  gap: 20px;
}

.outro--form,
.outro--end {
  position: relative;
  display: flex;
  min-width: 100%;
  flex: 1;
}

.outro--form h3 {
  user-select: none;
  pointer-events: none;
  top: -30px;
  left: -20px;
  position: absolute;
  background: var(--yel);
  transform: rotateZ(-5deg);
  padding: 12px;
  mix-blend-mode: screen;
  font-size: 1.4rem;
  font-family: var(--title);
  text-decoration: underline;

  &:after {
    content: "Оставьте своё мнение";
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--wt);
  }
}

.outro--form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border-right: 5px solid var(--wt);
  padding: 50px 0;
  gap: 20px;

  background: var(--bk);
}

.outro--form > form > input,
.outro--form > form > textarea,
.outro--form > form > button {
  border: 1px solid var(--yel);
  font-family: var(--text);
  font-size: 1rem;
  transition: 0.1s ease-in-out;
  &:focus {
    outline: none;
    border-color: var(--red);
    border-width: 3px;
  }
}

.outro--form > form > input {
  align-self: flex-end;
  padding: 5px;
  margin-right: 10px;
  width: 60%;
}

.outro--form form textarea {
  background: none;
  resize: none;
  width: 90%;
  height: 300px;
  padding: 10px;
  color: var(--wt);
  align-self: center;
  font-family: "Courier New", Courier, monospace;
}

.outro--form form label {
  display: flex;
  align-self: center;
  align-items: center;
  width: 50%;
  color: var(--bk);
  font-family: var(--text);
  font-size: 1rem;
  background: var(--yel);
  gap: 20%;
}

.outro--form form label input {
  cursor: pointer;
  appearance: none;
  position: relative;
  aspect-ratio: 1 / 1;
  height: 100%;
  background: var(--red);
  transition: 500ms;
}

.outro--form form label input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' viewBox='0 -960 960 960' width='30' stroke='%23FFFFFF' stroke-width='30' fill='%23FFFFFF'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 500ms;
  overflow: hidden;
}

.outro--form form label input:checked:after {
  width: 100%;
  height: 100%;
  transition: 500ms;
}

.outro--form form button {
  cursor: pointer;
  align-self: center;
  background: var(--wt);
  font-size: 1.2rem;
  padding: 2px 5px;
}

.outro--end img {
  border-left: 5px solid var(--wt);

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.outro--end p {
  position: absolute;
  width: 80%;
  color: var(--wt);
  font-family: var(--text);
  font-size: 1.2rem;
  text-align: end;
  text-shadow: 1px 2px 5px var(--bk);
  top: 10%;
  right: 20px;
}

@media (min-width: 140px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .neon--left,
  .neon--right {
    display: none;
  }
  .container__intro {
    height: 400px;
  }
}

@media (min-width: 340px) {
  .container__intro {
    height: 500px;
  }

  .container__title {
    height: 120px;
  }

  .container__title h3 {
    font-size: 1.6rem;
  }

  .determinism--grid {
    max-width: 400px;
    height: 400px;
  }
  .determinism--grid span {
    min-width: 40px;
    height: 40px;
  }
}

@media (min-width: 528px) {
  .main {
    display: block;
  }
  .wrapper {
    width: 80%;
  }

  .container__intro {
    height: 600px;
  }

  .container__title h3 {
    font-size: 2.4rem;
  }

  .outro--form,
  .outro--end {
    min-width: 340px;
  }

  .neon--left,
  .neon--right {
    display: flex;
  }
}
