* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: 2px solid black;
    padding: 2px;
  }
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(/Slider/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  background-color: #33333360;
  color: #fff;
}

header h1 {
  font-size: 26px;
  user-select: none;
}

nav ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  list-style: none;
}

nav li {
  display: flex;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #b6b6b63d;
  cursor: pointer;
}

nav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.slider-head {
  margin-top: 50px;
}

.slider {
  position: relative;
  display: flex;
  margin-top: 50px;
  width: 400px;
  height: 660px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #1b1b1b;
}

.wrap {
  display: flex;
  width: 400px;
}

.slider__item {
  display: flex;
  width: 400px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.slider__item img {
  object-fit: cover;
}

.prev,
.next {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: #a0a0a0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;

  transition: 0.2s ease-in-out;
  background-color: #1b1b1b11;

  &:hover {
    color: #cfcfcf;
    background-color: #1b1b1bb7;
  }
}

.prev {
  position: absolute;
  left: -50px;
}

.next {
  position: absolute;
  right: -50px;
}

.prev-inner,
.next-inner {
  position: relative;
}

.prev-cursor,
.next-cursor {
  font-weight: 400;
  font-size: 50px;
  position: absolute;
}

.prev-cursor {
  left: 75%;
  top: 50%;
  transform: translateY(-50%) translateX(25%);
}

.next-cursor {
  right: 75%;
  top: 50%;
  transform: translateY(-50%) translateX(-25%);
}

.slider-dots {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1b1b1b;
  cursor: pointer;
}

.dot-active {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(133, 133, 133, 1) 37%,
    rgba(0, 0, 0, 1) 74%
  );
}

.calc-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  gap: 10px;
  background-color: #303030b7;
  color: #cfcfcf;
  font-size: 20px;
  border-radius: 10px;
}

#order-men,
#order-photos,
#order-calc {
  height: 30px;
  width: 70%;
  background: none;
  border: none;
  color: #cfcfcf;
  font-size: 16px;
  border-left: 2px solid #a0a0a0;
  padding: 5px 10px;
  background: #33333388;
  border-radius: 0 10px 10px 0px;
  transition: 0.1s;

  &:focus {
    outline: none;
  }

  &:last-child {
    cursor: default;
  }
}

#order-genre-field {
  width: 70%;
  position: relative;
  &::after {
    content: "<";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(-50%);
    font-size: 8;
    color: #ffffff;
  }
}

#order-calc-field {
  width: 70%;
  input {
    width: 100%;
  }
}

#order-calc-field,
#order-genre-field {
  border: none;
}
#order-calc-legend,
#order-genre-legend {
  font-size: 16px;
}

#order-genre {
  appearance: none;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #cfcfcf;
  font-size: 16px;
  border-left: 2px solid #a0a0a0;
  padding: 5px 10px;
  background: #33333388;
  border-radius: 0 10px 10px 0px;
  transition: 0.1s;
}

#order-genre option {
  cursor: pointer;
}

#orderBlock {
  position: fixed;
  z-index: 999;

  opacity: 1;
  transition: 0.1s ease-in;

  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5004202364539565) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(100, 100, 100, 0.5) 25%,
    rgba(100, 100, 100, 0.5) 75%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.photoset-order {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 360px;

  background: #bdbdbd;
  padding: 20px;
  border-radius: 5px;

  position: relative;

  align-items: center;
}

#close-photoset {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.1s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  &:hover {
    background-color: #cecece;
  }
}

.photoset-order h2 {
  color: #1d1d1d;
  text-align: center;
  font-weight: 200;
  text-transform: lowercase;
  letter-spacing: 2px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.672));
}

.photoset-order form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.photoset-order form fieldset {
  width: 100%;
  border: none;
}

.photoset-order form fieldset legend {
  font-size: 16px;
  font-weight: 200;
}
.photoset-order form fieldset input {
  width: 100%;
  background: #d6d6d6;
  border: none;
  border-bottom: 2px solid #1d1d1d;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.photoset-order form label {
  display: flex;
  align-items: center;

  user-select: none;
  gap: 5px;
}

.photoset-order form label input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1b1b1b80;
  border-radius: 2px;

  transition: 0.1s ease-in;
  position: relative;
  &:checked {
    outline: none;
    background-color: #1d1d1d;
    color: #000;

    &::after {
      content: "✓";
      display: block;
      position: absolute;
      color: #ffffff;
      top: 50%;
      left: 50%;
      transform: translateY(-55%) translateX(-50%);
    }
  }
  &:focus {
    outline: none;
  }
}

#send-order-label {
  position: relative;
  width: 150px;
  height: 22px;
  display: flex;
  justify-content: center;
  background-color: #dedede;
  font-size: 16px;
  font-weight: 100;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-100%) translateX(0%);
    width: 10px;
    height: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(100%) translateX(0%);
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
}

#send-order {
  cursor: pointer;

  position: absolute;
  width: 150px;
  height: 22px;
  top: 0;
  right: 0;
  background: none;
  border: none;
  &:focus {
    appearance: none;
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }
}
